body {
    margin: 0px;
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px;
    border-radius: 70px
}

.menu {
    background-color: #000000;
    background-image: linear-gradient(282deg, #000000 0%, #7c7c7c 46%, #c0ad9e 100%);
    padding: 4px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.menuredes {
    padding: 4px;
    display: flex;
    align-items: flex-start;
}

.menuredes ul {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}

.menuredes p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    padding-top: 25px;
}

.navegacion {
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 15px;
    padding-right: 5px;
    word-spacing: 8pt;
}

.navegacion a {
    text-decoration: none;
    color: white;
}

.navegacion a:hover {
    text-decoration: underline;
    font-size: 15px;
}

.logo {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 20px;
    border: 1px solid black;
}

footer {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: justify;
    color: white;
    background-image: linear-gradient(282deg, #000000 0%, #7c7c7c 46%, #c0ad9e 100%);
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    padding-top: 15px;
}

.sec_1 {
    margin-top: 20px;
    max-width: 700px;
}

.tema1 {
    text-align: justify;
    margin: 2px;
}

.tema2 {
    text-align: justify;
    margin: 2px;
}

.tema3 {
    text-align: justify;
}

.tema1 h1 {
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 50px;
}

.tema3 h1 {
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 40px;
}

.productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.producto h1 {
    font-size: 28px;
}

.producto img {
    width: 300px;
    border: 1px solid black;
}

.producto:hover, .producto:active {
    background-color: lightgray
}

.maincontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.form p {
    font-size: 40px;
}

.form label {
    display: inline-block;
    width: 100%;
}

.formmapa {
    padding-bottom: 10px;
}

.imgform img {
    max-width: 100%;
    object-fit: contain;
}

.conmapa p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
}

.maintienda {
    display: flex;
    flex-direction: column;
}

.ofertas {
    padding-bottom: 20px;
}

@media (max-width: 425px) {
    .tema1 h1 {
        font-size: 32px;
        padding-bottom: 15px;
    }
    
    .tema1 img {
        max-width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .tema1 p {
        padding-left: 5px;
        padding-right: 5px;
    }

    .tema2 h1 {
        font-size: 32px;
        padding-bottom: 15px;
    }
    
    .tema2 img {
        max-width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .tema2 p {
        padding-left: 5px;
        padding-right: 5px;
    }

    .tema3 h1 {
        font-size: 32px;
        padding-bottom: 15px;
    }
    
    .tema3 img {
        max-width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .tema3 p {
        padding-left: 5px;
        padding-right: 5px;
    }

    .menuredes p {
        font-size: 22px;
        padding-top: 30px;
    }

    .producto {
        padding-bottom: 20px;
    }

    .imgform {
        max-width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .form {
        padding-left: 5px;
        padding-right: 5px;
    }

    .formmapa {
        max-width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .conmapa p {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .form {
        position: relative;
        max-width: 400px;
        padding-bottom: 20px;
    }

    .form p {
        font-size: 32px;
    }
}

@media (max-width: 1024px) {
    .form {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
