.navegacion {
    text-align: right;
    background-color: darkgray;
    display: block;
    padding: 10px;
}

.navegacion a {
    text-decoration: none;
    color: white;
}

.navegacion a:hover {
    text-decoration: underline;
    font-size: 15px;
}

.logo {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 20px;
}